# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\intelliJ iDEA\2. semester\html\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
